name: Build Electron App

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: client/package-lock.json

    - name: Install Dependencies
      working-directory: ./client
      run: npm ci

    - name: Build React and Electron App (Mac)
      working-directory: ./client
      run: npm run electron-build-mac
      env:
        CI: false # Treat warnings as warnings, not errors (React strict mode)

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mac-build
        path: client/dist/*.dmg
        retention-days: 5
